/ClipCull/.vs
/ClipCull/ClipCull/obj
/ClipCull/ClipCull/bin
*/bin/*
*/obj/*
/ClipCull/TTOOWA.AvalonDockThemes/obj
/ClipCull/ClipCull.Test/bin
/ClipCull/ClipCull.Test/obj
/ClipCull/ClipCull.Test/obj
/ClipCull/ClipCull.Test/obj
